table.village {
    border : none;
    border-collapse : collapse;
}

table.village tr {
    border : none;
}

table.village thead {
    font-weight : bold;
    text-align : center;
}

td {
    border : 1px solid black;
    padding : 2px;
}

td.right_text {
    text-align : right;
}

td.no_border {
    border : none;
}

span.error {
    font-size : 0.8em;
    color : red;
}